import { CoreEnvironment } from "@universal-packages/core";
// import User from './'

export default class AuthenticationEnvironment extends CoreEnvironment {
  public afterModulesLoad(): void {
    // Set here the Authenticatable class/model/entity
    // authenticationSubject.setAuthenticatable(User)
  }
}
